.mainimg {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    max-width: 30vh;
}

.after {
    margin-top: 5vh;
    margin-bottom: 5vh;
    position: relative;
}

@media only screen and (max-width: 790px) {
    .mainimg {
        left: 50%
    } 
}